    a {
        text-decoration: none;
    }
    nav {
        width: 50%;
    }
    ul li {
        list-style: none;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .active {
        background-color: black;
    }